.page_input{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.Link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25vw;
    height: 35vh;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 10px;
    text-decoration: none;
    color:black;
    font-weight: bold;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
    font-size: 16pt;
    transition: 0.3s;
}
.Link:hover{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}
.link_spec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Input{
    width: 130px;
    height: 140px;
}

@media(max-width: 924px){
    .Link{
        width: 250px;
        height: 200px;  
    }
    .Input{
        width: 80px;
        height: 90px;
    }
    
}